.form-text-notes {
    text-align: start;
    word-wrap: anywhere;
}

.span-image {
    width: 25%;
}

.span-image-image {
    border: 1px solid black;
    margin: 5px
}

.heading{
    padding: 5px;
    word-wrap: anywhere;
}
