figure {
    display: flex;
    flex-direction: row;
    height: auto;
}


p {
    margin: 1.5em 0;
    color: #aaa;
}

img {
    max-height: 50vh;
}

a {
    color: inherit;
}

a:hover {
    color: #bbb;
}

.italic { font-style: italic; }
.small { font-size: 0.8em; }

/** LIGHTBOX MARKUP **/

.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}

.lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}






.card{
    height: 500px;
}

header {
    width: 100%;
    height: 100px;
    background: #181817;
}

header .logo {
    margin-top: 40px;
    float: left;
}

#block {
    min-height: 100px;
    height: 130px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 14px;
}

header nav {
    float: right;
}

header nav ul {
    margin-top: 40px;
    list-style: none;
    overflow: hidden;
    float: left;
}

header nav ul li {
    float: left;
    margin-left: 50px;
}

header nav ul li a,
header nav .login_btn {
    text-decoration: none;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;

}

header nav .login_btn {
    float: right;
    margin: 30px 5px 0 5px;
    padding: 10px 30px 11px 30px;
    border: 2px solid #ffffff;
    background: transparent;

    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
}

header nav .login_btn:hover {
    background: #ffffff;
    color: #1c3655;
}

.jumbotron{
    margin-bottom: 0;
}

.wrapper {
    height: 100px;
}

.text-logo {
    font-size: 30px;
    color: white;
    float: left;
    margin: 27px 0 0 50px;
    background: transparent;
    transition: all .2s linear;
}

.text-logo:hover {

    color: orange;
    text-decoration: none;
}


.figure-delete{

    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.figure-delete:hover{

    border: 10px solid #ff0000;
    background: #f60000;
}




